<h1>POC Export Image</h1>
<p>โรงเรียนฝึกอาชีพกรุงเทพมหานคร</p>
<p>กองส่งเสริมอาชีพ สำนักพัฒนาสังคม</p>
<%= image_tag "Ruby_on_Rails-Logo.wine.png", alt: "Logo Rails", style: "width: 200px; height: 150px;" %>

<button>
  <%= link_to "Export Image", export_image_path, class: "btn btn-primary" %>
</button>